.task-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.task-footer-item {
  margin: 4px;

}

//.complete-badge {
//  background-color: #fff;
//  color: #999;
//  box-shadow: 0 0 0 1px #d9d9d9 inset;
//}
//
//.active-badge {
//  background-color: #87d068;
//}

.task-toolbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 4px;
}

.task-toolbar-item {
  margin: 4px;
}

.task-toolbar-item:first-child {
  margin-left: 0;
}

.task-list {
  margin-top: 4px;
}

.filler {
  flex-grow: 1;
}

.task-view-alert {
  margin-top: 4px;
}

.task-content {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 16px;
  padding-top: 16px;
}